*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
.main-container{

height: 100vh;
width: 100%;


}
.header-container{

    height: 15vh;
    width: 100%;
    /* background-color: rgb(29, 29, 23); */
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
    padding-top: 2rem ;
    flex-wrap: wrap;
    position: fixed;
}
.logo>img{

    height: 42px;
    width: 180px;

}
.menu-list{
 
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    


}
.menu-list>li{
 display: flex;
    flex-wrap: wrap;
list-style: none;
text-decoration: none;
}
li>a{

    text-decoration: none;
    color: white;
    font-size:1rem;
}
.btn{

    padding: 1rem 2rem;
    background-color: #6878D6;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-family:"Open Sans",sans-serif;
    
}


.slider{

    width: 100%;
    height: 100vh;
   /* background-color: #6878D6; */
    background-image: url('/images/home-hero-bg.jpg');
    background-position: center;
    background-size: cover;

}
.slider::before{

content: '';
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
background-color: rgba(19, 22, 65, 0.8);
}
.content-container{

  height: 8rem;
  width: 100%;
 display: flex;
justify-content: center;
 position: relative;
z-index: 2;

   
}
.content{
margin-top: 10rem;
height: 60%;
width: 60%;
/* background-color: aqua; */
color: #ffffff;
}
.content>h1{

  font-family: "Poppins",sans-serif;
  font-size: 3rem;
  color: #ffffff;

}
.section-after-slider{

height: 30vh;
width: 100%;
background-color: #ffffff;

}
.after-slider{
  padding-top: 2rem;
color: #070c27;
  text-align: center;
  font-family: "poppins,sans-serif";
}
.after-slider>p{
  color: #6878D6;
}